<?xml version="1.0"?>
<config>
  <modules>
    <Transferuj_Transferuj>
      <version>0.0.4</version>
    </Transferuj_Transferuj>
  </modules>
  <global>
    <blocks>
      <transferuj>
        <class>Transferuj_Transferuj_Block</class>
      </transferuj>
    </blocks>
    <models>
      <transferuj>
        <class>Transferuj_Transferuj_Model</class>
      </transferuj>
    </models>
    <helpers>
      <transferuj>
        <class>Transferuj_Transferuj_Helper</class>
      </transferuj>
    </helpers>
    <resources>
      <transferuj_setup>
        <setup>
          <module>Transferuj_Transferuj</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </transferuj_setup>
      <transferuj_write>
        <connection>
          <use>core_write</use>
        </connection>
      </transferuj_write>
      <transferuj_read>
        <connection>
          <use>core_read</use>
        </connection>
      </transferuj_read>
    </resources>
  </global>
  <frontend>
    <routers>
      <transferuj>
        <use>standard</use>
        <args>
          <module>Transferuj_Transferuj</module>
          <frontName>transferuj</frontName>
        </args>
      </transferuj>
    </routers>
  </frontend>
  <default>
    <payment>
      <transferuj>
        <active>0</active>
        <model>transferuj/paymentMethod</model>
        <title>Transferuj.pl</title>
        <redirect_url>https://secure.transferuj.pl/</redirect_url>
        <tran_ip>195.149.229.109</tran_ip>
      </transferuj>
    </payment>
  </default>
</config>